body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.loading-container {
    text-align: center;
}

.loading-img {
    width: 150px; /* Adjust as needed */
}

.loading-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.loading-bar span {
    display: block;
    height: 100%;
    width: 0;
    background-color: #007bff;
    animation: loading 5s linear forwards;
}

@keyframes loading {
    0% { width: 0; }
    100% { width: 100%; }
}
